# ML Project

## Problem Statement

Our client is a startup who works in selling and buying used cars, so predict the price of used cars involve varous aspecst so its become challanging , so solve this problem build a regression model which can predict the price of used cars on basis of different aspects like engine size, horseepower

## Libraries

In [45]:
import os
os.chdir("D:/Machine Learning/")

import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression,Ridge,Lasso

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

## Data Collection

In [46]:
df=pd.read_csv("Cars93.csv")
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

## EDA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             56 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [9]:
df.nunique()

id                    93
Manufacturer          32
Model                 93
Type                   6
Min.Price             79
Price                 81
Max.Price             79
MPG.city              21
MPG.highway           22
AirBags                2
DriveTrain             3
Cylinders              6
EngineSize            26
Horsepower            57
RPM                   24
Rev.per.mile          78
Man.trans.avail        2
Fuel.tank.capacity    38
Passengers             6
Length                51
Wheelbase             27
Width                 16
Turn.circle           14
Rear.seat.room        24
Luggage.room          16
Weight                81
Origin                 2
Make                  93
dtype: int64

In [10]:
df.describe()

,id,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,47.000000,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,26.990739,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,1.000000,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,24.000000,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,47.000000,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,70.000000,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,93.000000,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

## Preprocessing

In [11]:
x=df.drop(['Price','id','Model','Min.Price','Make'],axis=1)
y=df['Price']

In [12]:
cat=x.select_dtypes(include='object')
cat

,Manufacturer,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin
0,Acura,Small,NaN,Front,4,Yes,non-USA
1,Acura,Midsize,Driver & Passenger,Front,6,Yes,non-USA
2,Audi,Compact,Driver only,Front,6,Yes,non-USA
3,Audi,Midsize,NaN,Front,6,Yes,non-USA
4,BMW,Midsize,Driver only,Rear,4,Yes,non-USA
...,...,...,...,...,...,...,...
88,Volkswagen,Van,NaN,Front,5,Yes,non-USA
89,Volkswagen,Compact,NaN,Front,4,Yes,non-USA
90,Volkswagen,Sporty,NaN,Front,6,Yes,non-USA
91,Volvo,Compact,Driver only,Rear,4,Yes,non-USA
92,Volvo,Midsize,Driver & Passenger,Front,5,Yes,non-USA

In [13]:
con=x.select_dtypes(exclude='object')
con

,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0,2705
1,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0,3560
2,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0,3375
3,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.0,3405
4,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.0,3640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,NaN,3960
89,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.0,2985
90,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.0,2810
91,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.0,2985
92,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.0,3245

### Categorical Data Preprocessing

In [14]:
cat.isna().sum()

Manufacturer        0
Type                0
AirBags            37
DriveTrain          0
Cylinders           0
Man.trans.avail     0
Origin              0
dtype: int64

In [15]:
cat['AirBags']=cat['AirBags'].fillna(cat['AirBags'].mode().iloc[0])

In [16]:
cat.isna().sum()

Manufacturer       0
Type               0
AirBags            0
DriveTrain         0
Cylinders          0
Man.trans.avail    0
Origin             0
dtype: int64

In [17]:
la=LabelEncoder()

In [18]:
cat1=pd.DataFrame(cat.apply(la.fit_transform))
cat1

,Manufacturer,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin
0,0,3,1,1,1,1,1
1,0,2,0,1,3,1,1
2,1,0,1,1,3,1,1
3,1,2,1,1,3,1,1
4,2,2,1,2,1,1,1
...,...,...,...,...,...,...,...
88,30,5,1,1,2,1,1
89,30,0,1,1,1,1,1
90,30,4,1,1,3,1,1
91,31,0,1,2,1,1,1
92,31,2,0,1,2,1,1

### Numrical Data Preprocessing

In [19]:
con.isna().sum()

Max.Price              0
MPG.city               0
MPG.highway            0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
dtype: int64

In [20]:
con['Rear.seat.room']=con['Rear.seat.room'].fillna(con['Rear.seat.room'].median())
con['Luggage.room']=con['Luggage.room'].fillna(con['Luggage.room'].median())

In [21]:
con.isna().sum()

Max.Price             0
MPG.city              0
MPG.highway           0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
dtype: int64

In [22]:
ss=StandardScaler()

In [23]:
con1=pd.DataFrame(ss.fit_transform(con),columns=ss.get_feature_names_out())
con1

,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.449727,-1.037572,-0.627055
1,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.740403,0.391972,0.830208
2,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.060329,0.034586,0.514894
3,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.080441,1.106743,0.566026
4,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.279708,-0.322800,0.966560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,1.852158,0.261346,1.629649,0.698038,-0.298510,2.100552,0.034586,1.511968
89,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,-0.083243,-0.220626,-0.139503,-0.632239,-1.234288,1.250459,0.034586,-0.149822
90,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,-1.050944,-1.666543,-1.024079,-0.898295,-0.922362,-0.619745,0.391972,-0.448092
91,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,-0.083243,0.467905,0.007926,-0.632239,-0.610436,0.570385,0.034586,-0.149822
92,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,-0.083243,0.054786,0.155356,-0.100128,-0.298510,0.740403,0.391972,0.293322

In [24]:
x1=con1.join(cat1)
x1

,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,...,Rear.seat.room,Luggage.room,Weight,Manufacturer,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin
0,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,...,-0.449727,-1.037572,-0.627055,0,3,1,1,1,1,1
1,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,...,0.740403,0.391972,0.830208,0,2,0,1,3,1,1
2,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,...,0.060329,0.034586,0.514894,1,0,1,1,3,1,1
3,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,...,1.080441,1.106743,0.566026,1,2,1,1,3,1,1
4,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,...,-0.279708,-0.322800,0.966560,2,2,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,1.852158,0.261346,...,2.100552,0.034586,1.511968,30,5,1,1,2,1,1
89,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,-0.083243,-0.220626,...,1.250459,0.034586,-0.149822,30,0,1,1,1,1,1
90,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,-1.050944,-1.666543,...,-0.619745,0.391972,-0.448092,30,4,1,1,3,1,1
91,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,-0.083243,0.467905,...,0.570385,0.034586,-0.149822,31,0,1,2,1,1,1
92,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,-0.083243,0.054786,...,0.740403,0.391972,0.293322,31,2,0,1,2,1,1

## Feature Selection

In [55]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
lr=LinearRegression()

In [26]:
sfs=SequentialFeatureSelector(lr)

In [56]:
sfs.fit(x1,y)

SequentialFeatureSelector(estimator=LinearRegression())

In [28]:
x2=pd.DataFrame(x,columns=sfs.get_feature_names_out())
x2

,Max.Price,MPG.city,EngineSize,Passengers,Length,Width,Rear.seat.room,Luggage.room,Cylinders,Man.trans.avail,Origin
0,18.8,25,1.8,5,177,68,26.5,11.0,4,Yes,non-USA
1,38.7,18,3.2,5,195,71,30.0,15.0,6,Yes,non-USA
2,32.3,20,2.8,5,180,67,28.0,14.0,6,Yes,non-USA
3,44.6,19,2.8,6,193,70,31.0,17.0,6,Yes,non-USA
4,36.2,22,3.5,4,186,69,27.0,13.0,4,Yes,non-USA
...,...,...,...,...,...,...,...,...,...,...,...
88,22.7,17,2.5,7,187,72,34.0,NaN,5,Yes,non-USA
89,22.4,21,2.0,5,180,67,31.5,14.0,4,Yes,non-USA
90,23.7,18,2.8,4,159,66,26.0,15.0,6,Yes,non-USA
91,23.5,21,2.3,5,190,67,29.5,14.0,4,Yes,non-USA
92,28.5,20,2.4,5,184,69,30.0,15.0,5,Yes,non-USA

### Preprocessing

In [29]:
cat=[]
con=[]

for i in x2.columns:
    if x[i].dtypes=='object':
        cat.append(i)
    else:
        con.append(i)

In [30]:
cat

['Cylinders', 'Man.trans.avail', 'Origin']

In [31]:
con

['Max.Price',
 'MPG.city',
 'EngineSize',
 'Passengers',
 'Length',
 'Width',
 'Rear.seat.room',
 'Luggage.room']

In [32]:
num_pipe=Pipeline(steps=[('impute',SimpleImputer(strategy=('median'))),('scalar',StandardScaler())])
cat_pipe=Pipeline(steps=[('impute',SimpleImputer(strategy='most_frequent')),('encoder',OneHotEncoder())])

In [33]:
pre=ColumnTransformer([('con_pipe',num_pipe,con),('cat_pipe',cat_pipe,cat)])
pre

ColumnTransformer(transformers=[('con_pipe',
                                 Pipeline(steps=[('impute',
                                                  SimpleImputer(strategy='median')),
                                                 ('scalar', StandardScaler())]),
                                 ['Max.Price', 'MPG.city', 'EngineSize',
                                  'Passengers', 'Length', 'Width',
                                  'Rear.seat.room', 'Luggage.room']),
                                ('cat_pipe',
                                 Pipeline(steps=[('impute',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoder', OneHotEncoder())]),
                                 ['Cylinders', 'Man.trans.avail', 'Origin'])])

In [34]:
x3=pd.DataFrame(pre.fit_transform(x2),columns=pre.get_feature_names_out())
x3

,con_pipe__Max.Price,con_pipe__MPG.city,con_pipe__EngineSize,con_pipe__Passengers,con_pipe__Length,con_pipe__Width,con_pipe__Rear.seat.room,con_pipe__Luggage.room,cat_pipe__Cylinders_3,cat_pipe__Cylinders_4,cat_pipe__Cylinders_5,cat_pipe__Cylinders_6,cat_pipe__Cylinders_8,cat_pipe__Cylinders_rotary,cat_pipe__Man.trans.avail_No,cat_pipe__Man.trans.avail_Yes,cat_pipe__Origin_USA,cat_pipe__Origin_non-USA
0,-0.282465,0.471312,-0.841022,-0.083243,-0.427186,-0.366184,-0.449727,-1.037572,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.531409,-0.781032,0.515869,-0.083243,0.812171,0.431983,0.740403,0.391972,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.948052,-0.423219,0.128186,-0.083243,-0.220626,-0.632239,0.060329,0.034586,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,2.069191,-0.602126,0.128186,0.884457,0.674465,0.165927,1.080441,1.106743,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,1.303535,-0.065407,0.806631,-1.050944,0.192493,-0.100128,-0.279708,-0.322800,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.073018,-0.959938,-0.162577,1.852158,0.261346,0.698038,2.100552,0.034586,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
89,0.045673,-0.244313,-0.647181,-0.083243,-0.220626,-0.632239,1.250459,0.034586,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
90,0.164167,-0.781032,0.128186,-1.050944,-1.666543,-0.898295,-0.619745,0.391972,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
91,0.145937,-0.244313,-0.356418,-0.083243,0.467905,-0.632239,0.570385,0.034586,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
92,0.601684,-0.423219,-0.259498,-0.083243,0.054786,-0.100128,0.740403,0.391972,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

### Train Test Split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x3,y,test_size=0.2,random_state=23)

### Model Building

In [36]:
lr=LinearRegression()

In [37]:
lr.fit(x_train,y_train)

LinearRegression()

## Traning Data Evaluation

In [38]:
y_pred_train=lr.predict(x_train)

mse=mean_squared_error(y_pred_train,y_train)
mae=mean_absolute_error(y_pred_train,y_train)
r=r2_score(y_pred_train,y_train)
rmse=mse**0.5

print('MSE:',mse)
print('MAE:',mae)
print('R2:',r)
print('RMSE:',rmse)

MSE: 1.2766895939761633
MAE: 0.8602933900874055
R2: 0.9852752146942098
RMSE: 1.1299068961539103

## Testing Data Evaluation

In [39]:
y_pred_test=lr.predict(x_test)

mse1=mean_squared_error(y_pred_test,y_test)
mae1=mean_absolute_error(y_pred_test,y_test)
r1=r2_score(y_pred_test,y_test)
rmse1=mse**0.5

print('MSE:',mse1)
print('MAE:',mae1)
print('R2:',r1)
print('RMSE:',rmse1)

MSE: 2.6915764192481793
MAE: 1.2807641588220693
R2: 0.9693395722305753
RMSE: 1.1299068961539103

## Unseen Data Prediction

In [47]:
df2=pd.read_csv("sample.csv")
df2

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,NaN,Front,...,5,181,101,66,39,25.0,13.0,2575,USA,Pontiac Sunbird
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,NaN,Front,...,6,198,108,71,40,28.5,16.0,3195,USA,Chevrolet Lumina
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,2895,non-USA,Mazda RX-7
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,NaN,Front,...,4,163,93,63,34,26.0,10.0,2240,non-USA,Volkswagen Fox

In [48]:
x_sample=pd.DataFrame(pre.transform(df2),columns=pre.get_feature_names_out())
x_sample

,con_pipe__Max.Price,con_pipe__MPG.city,con_pipe__EngineSize,con_pipe__Passengers,con_pipe__Length,con_pipe__Width,con_pipe__Rear.seat.room,con_pipe__Luggage.room,cat_pipe__Cylinders_3,cat_pipe__Cylinders_4,cat_pipe__Cylinders_5,cat_pipe__Cylinders_6,cat_pipe__Cylinders_8,cat_pipe__Cylinders_rotary,cat_pipe__Man.trans.avail_No,cat_pipe__Man.trans.avail_Yes,cat_pipe__Origin_USA,cat_pipe__Origin_non-USA
0,2.069191,-0.602126,0.128186,0.884457,0.674465,0.165927,1.080441,1.106743,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,-0.829362,0.113500,-0.647181,-0.083243,-0.151773,-0.898295,-0.959782,-0.322800,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,-0.318925,-0.244313,-0.453339,0.884457,1.018731,0.431983,0.230348,0.749357,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.966282,-0.959938,-1.325626,-2.986345,-0.978011,-0.100128,-0.109689,0.034586,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,-1.130155,0.471312,-0.841022,-1.050944,-1.391130,-1.696461,-0.619745,-1.394958,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [49]:
pred=lr.predict(x_sample)
pred

array([37.1018166 , 11.3984697 , 16.12470757, 32.5       , 10.28551912])

In [50]:
result=df2[['Model','Price']]
result

     Model  Price
0      100   37.7
1  Sunbird   11.1
2   Lumina   15.9
3     RX-7   32.5
4      Fox    9.1

In [57]:
result['Prediction']=pred

In [52]:
result

     Model  Price  Prediction
0      100   37.7   37.101817
1  Sunbird   11.1   11.398470
2   Lumina   15.9   16.124708
3     RX-7   32.5   32.500000
4      Fox    9.1   10.285519

In [53]:
result.to_csv('Prediction.csv',index=False)