## Linear Regression

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("D:\Basic Python\Cars93.csv")
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             56 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [7]:
df.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags               37
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [8]:
x=df.drop(['Price'],axis=1)
y=df['Price']

## Preprocessing

In [9]:
x

,id,Manufacturer,Model,Type,Min.Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,18.8,25,31,NaN,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,44.6,19,26,NaN,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,22.7,17,21,NaN,Front,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,22.4,21,30,NaN,Front,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.7,18,25,NaN,Front,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,23.5,21,28,Driver only,Rear,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,28.5,20,28,Driver & Passenger,Front,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [10]:
cat= x.select_dtypes(include='object')
cat

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Acura,Integra,Small,NaN,Front,4,Yes,non-USA,Acura Integra
1,Acura,Legend,Midsize,Driver & Passenger,Front,6,Yes,non-USA,Acura Legend
2,Audi,90,Compact,Driver only,Front,6,Yes,non-USA,Audi 90
3,Audi,100,Midsize,NaN,Front,6,Yes,non-USA,Audi 100
4,BMW,535i,Midsize,Driver only,Rear,4,Yes,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,NaN,Front,5,Yes,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,NaN,Front,4,Yes,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,NaN,Front,6,Yes,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,Driver only,Rear,4,Yes,non-USA,Volvo 240
92,Volvo,850,Midsize,Driver & Passenger,Front,5,Yes,non-USA,Volvo 850

In [11]:
con= x.select_dtypes(exclude='object')
con

,id,Min.Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,1,12.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0,2705
1,2,29.2,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0,3560
2,3,25.9,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0,3375
3,4,30.8,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.0,3405
4,5,23.7,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.0,3640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,16.6,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,NaN,3960
89,90,17.6,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.0,2985
90,91,22.9,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.0,2810
91,92,21.8,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.0,2985
92,93,24.8,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.0,3245

## catagorical data Preprocessing

In [12]:
cat

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Acura,Integra,Small,NaN,Front,4,Yes,non-USA,Acura Integra
1,Acura,Legend,Midsize,Driver & Passenger,Front,6,Yes,non-USA,Acura Legend
2,Audi,90,Compact,Driver only,Front,6,Yes,non-USA,Audi 90
3,Audi,100,Midsize,NaN,Front,6,Yes,non-USA,Audi 100
4,BMW,535i,Midsize,Driver only,Rear,4,Yes,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,NaN,Front,5,Yes,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,NaN,Front,4,Yes,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,NaN,Front,6,Yes,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,Driver only,Rear,4,Yes,non-USA,Volvo 240
92,Volvo,850,Midsize,Driver & Passenger,Front,5,Yes,non-USA,Volvo 850

In [13]:
cat.isna().sum()

Manufacturer        0
Model               0
Type                0
AirBags            37
DriveTrain          0
Cylinders           0
Man.trans.avail     0
Origin              0
Make                0
dtype: int64

In [14]:
cat['AirBags']= cat['AirBags'].fillna(cat['AirBags'].mode().iloc[0])

In [21]:
cat.isna().sum()

Manufacturer       0
Model              0
Type               0
AirBags            0
DriveTrain         0
Cylinders          0
Man.trans.avail    0
Origin             0
Make               0
dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [23]:
la=LabelEncoder()
oh=OneHotEncoder()

In [24]:
cat1=pd.DataFrame(cat.apply(la.fit_transform))                      #label Encoding
cat1

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,0,48,3,1,1,1,1,1,0
1,0,55,2,0,1,3,1,1,1
2,1,8,0,1,1,3,1,1,3
3,1,0,2,1,1,3,1,1,2
4,2,5,2,1,2,1,1,1,4
...,...,...,...,...,...,...,...,...,...
88,30,41,5,1,1,2,1,1,88
89,30,64,0,1,1,1,1,1,90
90,30,28,4,1,1,3,1,1,87
91,31,2,0,1,2,1,1,1,91
92,31,7,2,0,1,2,1,1,92

In [25]:
cat2= pd.DataFrame(oh.fit_transform(cat).toarray(),columns=oh.get_feature_names_out())
cat2

,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrylser,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Eagle,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Numrical Data Preprocessing

In [26]:
con

,id,Min.Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,1,12.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0,2705
1,2,29.2,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0,3560
2,3,25.9,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0,3375
3,4,30.8,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.0,3405
4,5,23.7,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.0,3640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,16.6,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,NaN,3960
89,90,17.6,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.0,2985
90,91,22.9,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.0,2810
91,92,21.8,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.0,2985
92,93,24.8,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.0,3245

In [27]:
con.isna().sum()

id                     0
Min.Price              0
Max.Price              0
MPG.city               0
MPG.highway            0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
dtype: int64

In [28]:
con['Rear.seat.room']=con['Rear.seat.room'].fillna(con['Rear.seat.room'].median())
con['Luggage.room']=con['Luggage.room'].fillna(con['Luggage.room'].median())

In [29]:
con.isna().sum()

id                    0
Min.Price             0
Max.Price             0
MPG.city              0
MPG.highway           0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
dtype: int64

In [30]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [31]:
mn=MinMaxScaler()
ss=StandardScaler()

In [32]:
con1=pd.DataFrame(mn.fit_transform(con),columns=mn.get_feature_names_out())
con1

,id,Min.Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,0.000000,0.160207,0.151179,0.322581,0.366667,0.170213,0.346939,0.925926,0.644764,0.224719,0.500000,0.461538,0.413793,0.444444,0.384615,0.441176,0.3125,0.419087
1,0.010870,0.581395,0.427184,0.096774,0.166667,0.468085,0.591837,0.629630,0.416838,0.494382,0.500000,0.692308,0.862069,0.611111,0.461538,0.647059,0.5625,0.773859
2,0.021739,0.496124,0.338419,0.161290,0.200000,0.382979,0.477551,0.629630,0.394251,0.432584,0.500000,0.500000,0.413793,0.388889,0.384615,0.529412,0.5000,0.697095
3,0.032609,0.622739,0.509015,0.129032,0.200000,0.382979,0.477551,0.629630,0.498973,0.668539,0.666667,0.666667,0.551724,0.555556,0.384615,0.705882,0.6875,0.709544
4,0.043478,0.439276,0.392510,0.225806,0.333333,0.531915,0.624490,0.703704,0.503080,0.668539,0.333333,0.576923,0.655172,0.500000,0.538462,0.470588,0.4375,0.807054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.956522,0.255814,0.205270,0.064516,0.033333,0.319149,0.220408,0.259259,0.655031,0.668539,0.833333,0.589744,0.862069,0.666667,0.461538,0.882353,0.5000,0.939834
89,0.967391,0.281654,0.201110,0.193548,0.333333,0.212766,0.322449,0.740741,0.560575,0.522472,0.500000,0.500000,0.448276,0.388889,0.230769,0.735294,0.5000,0.535270
90,0.978261,0.418605,0.219140,0.096774,0.166667,0.382979,0.502041,0.740741,0.437372,0.522472,0.333333,0.230769,0.241379,0.333333,0.307692,0.411765,0.5625,0.462656
91,0.989130,0.390181,0.216366,0.193548,0.266667,0.276596,0.240816,0.592593,0.367556,0.370787,0.500000,0.628205,0.482759,0.388889,0.384615,0.617647,0.5000,0.535270
92,1.000000,0.467700,0.285714,0.161290,0.266667,0.297872,0.461224,0.888889,0.406571,0.567416,0.500000,0.551282,0.517241,0.500000,0.461538,0.647059,0.5625,0.643154

In [33]:
con2=pd.DataFrame(ss.fit_transform(con),columns=ss.get_feature_names_out())
con2

,id,Min.Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,-1.713526,-0.485787,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.449727,-1.037572,-0.627055
1,-1.676275,1.388017,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.740403,0.391972,0.830208
2,-1.639025,1.008658,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.060329,0.034586,0.514894
3,-1.601774,1.571949,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.080441,1.106743,0.566026
4,-1.564523,0.755752,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.279708,-0.322800,0.966560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,1.564523,-0.060445,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,1.852158,0.261346,1.629649,0.698038,-0.298510,2.100552,0.034586,1.511968
89,1.601774,0.054512,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,-0.083243,-0.220626,-0.139503,-0.632239,-1.234288,1.250459,0.034586,-0.149822
90,1.639025,0.663786,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,-1.050944,-1.666543,-1.024079,-0.898295,-0.922362,-0.619745,0.391972,-0.448092
91,1.676275,0.537333,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,-0.083243,0.467905,0.007926,-0.632239,-0.610436,0.570385,0.034586,-0.149822
92,1.713526,0.882205,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,-0.083243,0.054786,0.155356,-0.100128,-0.298510,0.740403,0.391972,0.293322

## Final Dtaframe

In [34]:
x1= cat1.join(con1)
x1

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make,id,...,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,0,48,3,1,1,1,1,1,0,0.000000,...,0.644764,0.224719,0.500000,0.461538,0.413793,0.444444,0.384615,0.441176,0.3125,0.419087
1,0,55,2,0,1,3,1,1,1,0.010870,...,0.416838,0.494382,0.500000,0.692308,0.862069,0.611111,0.461538,0.647059,0.5625,0.773859
2,1,8,0,1,1,3,1,1,3,0.021739,...,0.394251,0.432584,0.500000,0.500000,0.413793,0.388889,0.384615,0.529412,0.5000,0.697095
3,1,0,2,1,1,3,1,1,2,0.032609,...,0.498973,0.668539,0.666667,0.666667,0.551724,0.555556,0.384615,0.705882,0.6875,0.709544
4,2,5,2,1,2,1,1,1,4,0.043478,...,0.503080,0.668539,0.333333,0.576923,0.655172,0.500000,0.538462,0.470588,0.4375,0.807054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,30,41,5,1,1,2,1,1,88,0.956522,...,0.655031,0.668539,0.833333,0.589744,0.862069,0.666667,0.461538,0.882353,0.5000,0.939834
89,30,64,0,1,1,1,1,1,90,0.967391,...,0.560575,0.522472,0.500000,0.500000,0.448276,0.388889,0.230769,0.735294,0.5000,0.535270
90,30,28,4,1,1,3,1,1,87,0.978261,...,0.437372,0.522472,0.333333,0.230769,0.241379,0.333333,0.307692,0.411765,0.5625,0.462656
91,31,2,0,1,2,1,1,1,91,0.989130,...,0.367556,0.370787,0.500000,0.628205,0.482759,0.388889,0.384615,0.617647,0.5000,0.535270
92,31,7,2,0,1,2,1,1,92,1.000000,...,0.406571,0.567416,0.500000,0.551282,0.517241,0.500000,0.461538,0.647059,0.5625,0.643154

## Feature Selection

In [35]:
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression

In [36]:
lr=LinearRegression()

In [38]:
sfs=SequentialFeatureSelector(lr,n_features_to_select=17,direction='forward')

In [40]:
x2=pd.DataFrame(sfs.fit_transform(x1,y),columns=sfs.get_feature_names_out())
x2

,Type,Cylinders,Man.trans.avail,Origin,Make,id,Min.Price,Max.Price,EngineSize,RPM,Rev.per.mile,Passengers,Length,Wheelbase,Width,Turn.circle,Luggage.room
0,3.0,1.0,1.0,1.0,0.0,0.000000,0.160207,0.151179,0.170213,0.925926,0.644764,0.500000,0.461538,0.413793,0.444444,0.384615,0.3125
1,2.0,3.0,1.0,1.0,1.0,0.010870,0.581395,0.427184,0.468085,0.629630,0.416838,0.500000,0.692308,0.862069,0.611111,0.461538,0.5625
2,0.0,3.0,1.0,1.0,3.0,0.021739,0.496124,0.338419,0.382979,0.629630,0.394251,0.500000,0.500000,0.413793,0.388889,0.384615,0.5000
3,2.0,3.0,1.0,1.0,2.0,0.032609,0.622739,0.509015,0.382979,0.629630,0.498973,0.666667,0.666667,0.551724,0.555556,0.384615,0.6875
4,2.0,1.0,1.0,1.0,4.0,0.043478,0.439276,0.392510,0.531915,0.703704,0.503080,0.333333,0.576923,0.655172,0.500000,0.538462,0.4375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,5.0,2.0,1.0,1.0,88.0,0.956522,0.255814,0.205270,0.319149,0.259259,0.655031,0.833333,0.589744,0.862069,0.666667,0.461538,0.5000
89,0.0,1.0,1.0,1.0,90.0,0.967391,0.281654,0.201110,0.212766,0.740741,0.560575,0.500000,0.500000,0.448276,0.388889,0.230769,0.5000
90,4.0,3.0,1.0,1.0,87.0,0.978261,0.418605,0.219140,0.382979,0.740741,0.437372,0.333333,0.230769,0.241379,0.333333,0.307692,0.5625
91,0.0,1.0,1.0,1.0,91.0,0.989130,0.390181,0.216366,0.276596,0.592593,0.367556,0.500000,0.628205,0.482759,0.388889,0.384615,0.5000
92,2.0,2.0,1.0,1.0,92.0,1.000000,0.467700,0.285714,0.297872,0.888889,0.406571,0.500000,0.551282,0.517241,0.500000,0.461538,0.5625

## Train Test Split

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x2,y,test_size=0.2,random_state=23)

In [43]:
x_train.shape

(74, 17)

In [44]:
x_test.shape

(19, 17)

## Model Building

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
lr=LinearRegression()

In [47]:
lr.fit(x_train,y_train)

LinearRegression()

In [49]:
lr.coef_

array([-6.63766220e-03,  8.30141513e-03,  1.35688850e-02,  1.50856502e-02,
       -2.48001910e-04,  2.90972434e-02,  1.93523638e+01,  3.60421094e+01,
       -9.03661201e-02, -2.70535701e-02, -3.56765300e-03, -3.03403907e-04,
       -1.71008911e-02, -1.70772184e-03,  2.51409134e-02,  3.59873183e-02,
        1.29440487e-02])

In [50]:
lr.intercept_

7.295189352160142

## Evaluation Of Model

In [63]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

## Traning Data Evaluation

In [64]:
y_pred_train=lr.predict(x_train)
y_pred_train

array([15.73502766, 16.29320474, 25.77913649, 23.72551323, 10.29974529,
       13.39824984, 15.78479735, 19.13369991, 11.28736434,  9.03602754,
       38.01037707, 11.59909296, 22.66360654, 16.61854977, 32.53360478,
        9.09126729,  8.63683549, 14.88403929, 20.69505362, 13.9854878 ,
       10.89943722, 26.65588646, 17.70076695, 15.83899572, 15.88256025,
        7.38970125, 19.65209232,  8.34418254, 61.88186598, 15.09633011,
       11.31416245, 19.90267478,  9.9926606 , 40.06568515, 29.11477204,
       18.21027049, 20.01087213, 28.7094958 ,  8.38706524,  9.2182099 ,
       19.09463517,  7.9963333 ,  8.25704652, 11.78907169, 33.94851624,
       20.19361157, 16.32187418, 22.74814068, 14.12357613, 15.8857806 ,
       18.38791693, 31.95648269, 26.15212916, 12.09948866, 27.96518654,
       29.49895906, 19.51520309, 15.66857749, 19.47267805, 18.50249851,
       21.50536885, 35.15041932, 11.40464725, 10.03727127, 20.79070174,
       36.09944702, 18.97845458, 12.49964941, 24.40422675, 10.12315313,
       16.51759398, 11.10955492, 19.83637412,  9.80706303])

In [65]:
y_train

5     15.7
68    16.3
27    25.8
7     23.7
61    10.3
      ...
31    10.1
54    16.5
73    11.1
40    19.8
83     9.8
Name: Price, Length: 74, dtype: float64

In [66]:
mse=mean_squared_error(y_pred_train,y_train)
mae=mean_absolute_error(y_pred_train,y_train)
r=r2_score(y_pred_train,y_train)
rmse=mse**0.5

print('MSE:',mse)
print('RMSE:',rmse)
print('MAE:',mae)
print('R2:',r)

MSE: 0.0006525437237769954
RMSE: 0.025544935384083384
MAE: 0.019581999168343234
R2: 0.9999925830009668

## Testing Data Evaluation

In [67]:
y_pred_test=lr.predict(x_test)
y_pred_test

array([47.87814162, 13.48359586, 19.32961686, 37.70412146, 23.29441264,
       12.18043769, 13.86234444, 18.3992304 , 20.90226094, 34.63505101,
       14.38891843, 18.78737531, 11.05118269, 17.52190338, 15.58758946,
       26.27823403, 13.30436254, 29.92471007, 34.28926068])

In [68]:
y_test

47    47.9
67    13.5
29    19.3
3     37.7
90    23.3
28    12.2
46    13.9
84    18.4
37    20.9
9     34.7
71    14.4
17    18.8
78    11.1
42    17.5
26    15.6
8     26.3
24    13.3
4     30.0
50    34.3
Name: Price, dtype: float64

In [69]:
mse1=mean_squared_error(y_pred_test,y_test)
mae1=mean_absolute_error(y_pred_test,y_test)
r1=r2_score(y_pred_test,y_test)
rmse1=mse1**0.5

print('MSE:',mse1)
print('RMSE:',rmse1)
print('MAE:',mae1)
print('R2:',r1)

MSE: 0.0009090914531705496
RMSE: 0.03015114348031513
MAE: 0.02219899183721611
R2: 0.9999908606100262